.cartHead{
    display: flex;
    gap: 650px;
    margin-left: 200px;
    font-weight: 600;
}
.cartHead>div:nth-child(2){
    display: flex;
    gap: 80px;
}
.cartHead>div:first-child>h4{
    font-weight: 700;
}
.cartBody{
    display: flex;
    margin-left: 200px;
    gap: 50px;
    margin-top: 30px;
}
.paymentBody{
    width: 450px;
    height: 500px;
   border: 1px solid red;
}
.itemCardCart{
    width: 700px;
    height: 500px;
    border: 1px solid red;
    display: flex;
}
