/* .btnBlueBorder{
    border-color: aqua;
} */

.top-image{
    margin-left: 0%;
    margin-top: 150px;
}
.top-image img{
    height: 220px;
    width: 100%;
}
/* Sorting */
/* .sort{
    width: 55%;
    margin-top: 30px;
    display: flex;
    height: 25px;
    margin-left: 44%;

} */
.sort{
    margin: 3vmin 0;
    display: grid;
    justify-content: end;
    
}
.sort button{
    width: 100px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    border: 1px solid whitesmoke;
    background-color: white;
    border-radius: 5px;
}
.sort button:hover{
    border-color: #008ecc;
    color: #008ecc;
}