
.logo-div img{
    width: 25px;
    height: 25px;
    margin-top: 8%;
    margin-left: 95%;
}
.image-div img{
    margin-left: 30%;
    cursor: pointer;
    margin-top: 1%;
}
.content-div{
    margin-top: 4%;
    margin-left: 5%;
}
.mrp-div{
    display: flex;
    flex-direction: row;
}
.mrp-div h3{
    font-size: 20px;
    margin-left: 1%;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mrp-div span{
    padding: 0%;
    font-size: 16px;
    color: rgb(54, 51, 51);
    margin-left: 0%;
}
.taxes-text{
    margin-left: 20px;
}

.wishlist{
    width: 24px;
    height: 24px;
    background: url("https://www.jiomart.com/assets/version162335126993/smartweb/images/icons/favourite.svg");
   display: inline-block;
   cursor: pointer;
   border: none;
   margin-left: 20px;
}
.title-div{
    font-size: 18px;
    line-height: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.stock-green{
    color: #00a651;
    margin-bottom: 8px;
    font-size: 16px;
    margin-top: 15px;
}
.soldby-div{
    display: flex;
    flex-direction: row;
}
.soldby-div h6{
    color: #008ecc;
    margin-left: 1%;
}
.soldby-div span{
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.shipping-div{
    display: flex;
    flex-direction: row;
}
.shipping-div span{
    font-size: 16px;
    font-weight: 400;
}
.shipping-div h6{
    font-size: 16px;
    margin-left: 1%;
    margin-top: 0.5%;
}
.addtocart-div{
    width: 23%;
    background-color: #008ecc;
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    color: white;
    display: flex;
    width: 150px;
    margin-top: 2%;
}
.plus-symbol{
    width: 30px;
    margin-left: 20%;
    font-size: 25px;
    background-color:#28b0eb ;
    border-radius: 50%;
    margin-top: 0%;
    align-items: center;
}
.three-logos{
    margin-top: 2%;
    height: 30px;
    width: 300px;
    display: flex;
}
.three-logos img{
    margin-left: 1%;
}
.three-logos p{
    margin-top: 0px;
    font-size: 12px;
    margin-left: 1%;
    font-weight: 400;
}
.delivery-div{
    margin-top: 3%;
    width: 350px;
    border-bottom: 0.5px solid lightgray;
}

.delivery-div h5{
    font-size: 16px;
    line-height: 20px;
}
.delivery-div input{
    border: none;
}
.delivery-div input:focus{
    width: 200px;
    outline: none;
    border: none;
}

.delivery-div button{
    border: none;
    width: 100px;
    color: red;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: whitesmoke;
    margin-left: 1%;
}
.offers-div{
    margin-top: 5%;
}
.offers-div h5{
    font-size: 18px;
}
.offers-div h6{
    font-size: 16px;
    margin-left: 3%;
    padding: 5px;
}
.description-div h5{
    margin-left: 3%;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.description-div h6{
    margin-left: 5%;
    margin-top: 1%;
}
.description-div p{
    margin-left: 5%;
    font-size: 15px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.description-div li{
    margin-left: 5%;
    margin-top: 2%;
}
.box-div{
    width: 300px;
    height: 200px;
    margin-left: 5%;
    margin-top: 9%;
}
.box-div img{
    width: 20px;
    height: 20px;
}
.table{
    margin-top: -50px;
}








